// Colors
$color-white: #ffffff;
$color-light: rgba(255, 255, 255, 0.4);
$color-shadow: #ffffff54;
$color-light-hover: rgba(255, 255, 255, 0.8);
$color-light-grey: rgba(255, 255, 255, 0.25);
$color-black: #000000;
$color-black-full: #0a0b0b;
$dark-end: rgba(39, 36, 36, 0.7);
$dark-border: rgba(0, 0, 0, 0.4);
$blue-light: rgba(39, 135, 245, 0.18);
$purple-light: rgba(163, 147, 245, 0.18);
$gray-dark: #393b3c;
$accent-color: #dc5dfc;
$green-rating: #308e21;
$red-rating: #c82020;
$red-error: #FF7575;
$silver-rating: #777777;
$gold-rating: #a59400;
$blue-mid: #67a5eb;
$blue-mid-hover: #45526e;
$blue-mid-hover: #45526e;
$gray-mid: #393b3c;
$shadow-dark: #00000066;
$color-pink: #b4a9ff;
$color-purple: #6a5dc2;

// Typography
$ff-main: "Play", "Arial", sans-serif;
// Viewport
$vp-tablet: 1280px;
$vp-mobile: 767px;
